// Värimäärittelyt 
// generoitu sivustolla https://coolors.co/d496a7-9d695a-78e0dc-8eedf7-a1cdf1
$color-primary: #8eedf7;
$color-secondary: #a1cdf1;
$color-neutral-darkest: #000000;
$color-neutral-darker: #d496a7;
$color-neutral-dark: #9d695a;
$color-neutral: #888881;
$color-neutral-light: #C4C4C0;
$color-neutral-lighter: #78e0dc;
$color-neutral-lightest: #FFFFFF;

// Muut määrittelyt
$container-padding: 2rem;

